pip
Streamlit
openai
torch>=2.2.0
tensorflow
transformers<4.35.0
tokenizers
evaluate
ipywidgets
huggingface-hub
sacremoses
langchain
pytesseract
faiss-cpu
pdfplumber
python-dotenv
python-docx
pypdf2
PyMuPDF
keras
opencv-python-headless
loguru
langchain_community
google.generativeai
torchvision
streamlit_chat